.app-border {
    max-width: 600px;
    margin-top: 50px;
    padding: 20px;
    border: 1px solid rgb(152, 152, 211);
    border-radius: 5px;
}

h1 {
    color: rgb(152, 152, 211);
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    padding: 0;
    margin-top: 10px;
}

h2 {
    color: rgb(85, 85, 124);
    font-family: monospace;
    font-size:15px;
}
ul {
    margin: 0;
    padding: 0;
}
li {
    color: rgb(85, 85, 124);
    display: block;
    font-family: monospace;
    font-size: 14px;
    font-weight: 200;
    text-align: left;
    line-height: 15px;
}

.source {
    font-family: monospace;
    font-size: 10px;
}

.current-weather-overview {
margin-top: 0;
    margin-bottom: 14px;
}

.weather-temperature img {
    margin-right: 10px
}
.weather-temperature strong {
    font-size: 38px;
    font-weight: 400;
}

.weather-temperature .units {
    position: relative;
    font-size: 14px;
    top: -17px;
}

.weather-forecast-temperature {
    color: rgb(85, 85, 124);
    font-family: monospace;
    font-size: 15px;
    
}

.weather-forecast {
    margin-top: 15px;
}