.app-border {
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    border: 1px solid rgb(152, 152, 211);
    border-radius: 5px;
}

h1 {
    color: rgb(152, 152, 211);
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
}
ul {
    margin: 0;
    padding: 0;
}
li {
    color: rgb(85, 85, 124);
    display: block;
    font-family: monospace;
    font-size: 14px;
    font-weight: 200;
    text-align: left;
    line-height: 23px;
}

.source {
    font-family: monospace;
    font-size: 10px;
    margin-top: 40px;
}